
.depicter-revert .depicter-1-element-22{
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:50% 50% 50% 50%;
}
.depicter-1-element-22 .depicter-arrow-icon{
	fill:#ffffff;
}
.depicter-revert .depicter-1-element-23{
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:50% 50% 50% 50%;
}
.depicter-1-element-23 .depicter-arrow-icon{
	fill:#ffffff;
}
.depicter-revert .depicter-1-element-111{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-110{
	font-size:50px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-82{
	font-size:20px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:500;
	background-color:rgba(224, 96, 47, 0.05);
	border-width:3px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:40px;
}
.depicter-revert .depicter-1-element-82:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-revert .depicter-1-element-82:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
	border-color:#707070;
}
.depicter-revert .depicter-1-element-21{
	font-size:40px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-20{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-19{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-18{
	font-size:35px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:700;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-16{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-15{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-14{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-12{
	font-size:35px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:700;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-11{
	border-radius:12px;
}
.depicter-revert .depicter-1-element-11:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-revert .depicter-1-element-11:not(.depicter-hover-off):hover {
	box-shadow:10px 10px 25px 0px #000;
}
.depicter-revert .depicter-1-element-10{
	filter:none;
	border-radius:12px;
}
.depicter-revert .depicter-1-element-10:not(.depicter-hover-off){
	transition:all cubic-bezier(0.12, 0, 0.39, 0) 0.3s;
}
.depicter-revert .depicter-1-element-10:not(.depicter-hover-off):hover {
	filter:none;
	box-shadow:10px 10px 25px 0px #000;
}
.depicter-revert .depicter-1-element-10-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-1-element-6{
	font-size:20px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-bg-video{
	background-color:#FFF;
	filter:none;
}
.depicter-revert .depicter-1-section-1 .depicter-bg-video::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(203, 82, 0, 0.4);
}
.depicter-revert .depicter-1-element-115{
	font-size:20px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-114{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-113{
	font-size:50px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-40{
	font-size:40px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-39{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-38{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-37{
	font-size:30px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:700;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-36{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-35{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-34{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-32{
	font-size:29px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:700;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-31{
	border-radius:12px;
}
.depicter-revert .depicter-1-element-30{
	border-radius:12px;
}
.depicter-revert .depicter-1-element-29{
	font-size:20px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:500;
	background-color:rgba(224, 96, 47, 0.05);
	border-width:3px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:50px;
}
.depicter-revert .depicter-1-element-29:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-revert .depicter-1-element-29:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
	border-color:#707070;
}
.depicter-revert .depicter-1-section-25 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-section-25 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(203, 82, 0, 0.4);
}
.depicter-revert .depicter-1-element-119{
	font-size:20px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-118{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-117{
	font-size:50px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-96{
	font-size:20px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:500;
	background-color:rgba(224, 96, 47, 0.02);
	border-width:3px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:50px;
}
.depicter-revert .depicter-1-element-96:not(.depicter-hover-off){
	transition:all ease 1s;
}
.depicter-revert .depicter-1-element-96:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
	border-color:#707070;
}
.depicter-revert .depicter-1-element-56{
	font-size:40px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-55{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-54{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-53{
	font-size:35px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:700;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-52{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-51{
	font-size:16px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-50{
	background-color:#ffffff;
}
.depicter-revert .depicter-1-element-48{
	font-size:30px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:700;
	line-height:90%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-47{
	border-radius:12px;
}
.depicter-revert .depicter-1-element-46{
	border-radius:12px;
}
.depicter-revert .depicter-1-section-41 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-section-41 .depicter-section-background::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(203, 82, 0, 0.4);
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-18{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-1-element-12{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-1-element-37{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-1-element-32{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-1-element-53{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-1-element-48{
	font-size:25px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:90%;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-110{
	font-size:25px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
}
.depicter-revert .depicter-1-element-21{
	font-size:30px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-1-element-19{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-18{
	font-size:20px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-1-element-15{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-12{
	font-size:20px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-1-element-6{
	font-size:16px;
	text-align:left;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-115{
	font-size:16px;
	text-align:left;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-113{
	font-size:25px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
}
.depicter-revert .depicter-1-element-40{
	font-size:30px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-1-element-38{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-37{
	font-size:20px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-1-element-35{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-32{
	font-size:20px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-1-element-29{
	font-size:15px;
	text-align:center;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:500;
}
.depicter-revert .depicter-1-element-119{
	font-size:16px;
	text-align:left;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-117{
	font-size:25px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
}
.depicter-revert .depicter-1-element-56{
	font-size:30px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:400;
	line-height:60%;
}
.depicter-revert .depicter-1-element-54{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-53{
	font-size:20px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:500;
	line-height:90%;
}
.depicter-revert .depicter-1-element-51{
	font-size:12px;
	color:#ffffff;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-48{
	font-size:20px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:500;
	line-height:90%;
}

}
